/* Foundation Docs @ https://foundation.zurb.com/sites/docs/ */

body { 
  background-color: white;
}

h1 {
  line-height: 1;
}


#ageChart,
#genderChart {
  min-height: 400px;
}

/* Responsive band-aid for charts - requires page reload on resize */
.svg-container {
  margin: 0 auto;
}

#map {
  min-height: 500px;
  width: 100%;
}

/* Responsive Breakpoints aka Media Queries */

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}